<html>
    <head>
        <title>C Llama's Blog :D</title>
    </head>
    <body>
        <div>
            <h1><a href="">Me Blog</a></h1>
        </div>

        <div>
            <p>published: 19.05.2017, 17:40</p>
            <h2><a href="">My 1st Post</a></h2>
            <p>This is just some random crap that I'm gonna type in here!</p>
        </div>

        <div>
            <p>published: 19.05.2017, 17:40</p>
            <h2><a href="">My 2nd Post</a></h2>
            <p>This is some more random crap that I'm gonna type in here!</p>
        </div>
    </body>
</html>
